In [108]:
import pandas as pd

student_data_to_load='Resources/clean_students_complete.csv'
school_data_to_load='Resources/schools_complete.csv'

student_data_df = pd.read_csv(student_data_to_load)
school_data_df=pd.read_csv(school_data_to_load)

# combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df,school_data_df,on=('school_name','school_name'))
school_data_complete_df.head()

#get the total number of students
#student_count=school_data_complete_df.count()
#student_count

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [109]:
student_count=school_data_complete_df['Student ID'].count()
student_count

39170

In [110]:
#calculate the total number of schools
#school_count=school_data_df['school_name'].count()
#school_count

school_count_2=len(school_data_complete_df['school_name'].unique())
school_count_2

15

In [111]:
#calculate the Total Budget
total_budget=school_data_df['budget'].sum()
total_budget

24649428

In [112]:
#calculate the average reading score
#average_reading_score=school_data_complete_df['reading_score'].mean()
#average_reading_score

#calculate the average math score
average_math_score=school_data_complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [113]:
#Get all the math scores greater than or equal to 70
passing_math=school_data_complete_df[school_data_complete_df['math_score']>=70]
#passing_math.head()

passing_math_count=passing_math['student_name'].count()
print(passing_math_count)

29370

In [114]:
#Get all the reading scores greater than or equal to 70
passing_reading=school_data_complete_df[school_data_complete_df['reading_score']>=70]
#passing_reading.head(7)

passing_reading_count=passing_reading['student_name'].count()
print(passing_reading_count)

33610

In [115]:
#calculate the percent that passed math
passing_math_percentage=passing_math_count/float(student_count)*100
passing_math_percentage

74.9808526933878

In [116]:
#calculate the percent that passed reading
passing_reading_percentage=passing_reading_count/float(student_count)*100
passing_reading_percentage

85.80546336482001

In [117]:
#calculate the students who passed both math and reading
passing_math_reading=school_data_complete_df[(school_data_complete_df['math_score']>=70)&(school_data_complete_df['reading_score']>=70)]
#passing_math_reading.head()

#passing_math_reading['student_name'].count()

#calculate the number of students who passed both math and reading
overall_passing_math_reading_count=passing_math_reading['student_name'].count()
overall_passing_math_reading_count

#calculate the overall passing percentage
overall_passing_percentage=overall_passing_math_reading_count/student_count*100
overall_passing_percentage

65.17232575950983

In [118]:
#adding a list of values with keys to create a new DataFrame
district_summary_df= pd.DataFrame(
    [{'Total Schools': school_count,
     'Total Students': student_count,
     'Total Budget': total_budget,
     'Average Math Score': average_math_score,
     'Average Reading Score': average_reading_score,
     '% Passing Math': passing_math_percentage,
     '% Passing Reading': passing_reading_percentage,
     '% Overall Passing': overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [119]:
#format the 'total students' to have the comma for a thousands separator 
district_summary_df['Total Students']= district_summary_df['Total Students'].map('{:,}'.format)
district_summary_df['Total Students']

0    39,170
Name: Total Students, dtype: object

In [120]:
#format 'Total Budget' to have the comma for a thousands separator, a decimal separator, and a '$'
district_summary_df['Total Budget']=district_summary_df['Total Budget'].map('${:,.2f}'.format)
district_summary_df['Total Budget']

0    $24,649,428.00
Name: Total Budget, dtype: object

In [121]:
#format 'average math score'
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df['Average Math Score']

0    79.0
Name: Average Math Score, dtype: object

In [122]:
#format 'Average reading score'
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df['Average Reading Score']

0    81.9
Name: Average Reading Score, dtype: object

In [123]:
#format '% passing math'
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df['% Passing Math']

0    75
Name: % Passing Math, dtype: object

In [124]:
#format '% passing reading'
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df['% Passing Reading']

0    86
Name: % Passing Reading, dtype: object

In [125]:
# format'% Overall Passing'
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df['% Overall Passing']

0    65
Name: % Overall Passing, dtype: object

In [126]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [ ]:
#reorder columns 
#new_column_order=['Total Schools','Total Students','Total Budget'...]

#district_summary_df=district_summary_df[new_column_order]
#district_summary_df